{% extends 'movies/base.html' %}
{% block content %}
<div class="wrapper style2">
    <article id="main" class="container special">
        <header>
            <h2>Most Popular TV Shows</h2>
        </header>

        {% for item in page_obj %}
            {{item.rank}}. <a href = "{% url 'detail' item.id %}">{{item.title }}</a><br>
        {% endfor %}
    <br>

<div class="pagination">
    <span class="step-links">
        <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if page_obj.has_previous %}
           <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        <span class="current">
            <li class="page-item disabled"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li>
        </span>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
        </ul>
        </nav>
    </span>
    </div>
    </article>
</div>

    <div class="clear"></div>
{% endblock %}
