{% extends 'movies/base.html' %}
{% block content %}
  <h2>Top 250 TV Shows</h2>
                <hr>
                    <div id = "tacos">
                        <ol>
                            {% for item in data.items %}
                                <li><a href="{% url 'detail' item.id %}" >{{item.title}} - {{item.description}}</a></li>
                            {% empty %}
                                <li>No results found.</li>
                            {% endfor %}
                        </ol>
                    </div>
{% endblock %}
