{% extends 'movies/base.html' %}
{% block content %}
<div class="wrapper style1">
    <div style = "text-align:center">
        <h2 style = "color:whitesmoke">About</h2>
    <p>
        I created this page to learn skills involving API requests, working with databases, html/website design, CSS,
        Django, JS, and more! Here is a link to my <a href = "https://docs.google.com/document/d/158zcM-aKia2I4i55prX0ySRY02PQh7r6/edit?usp=sharing&ouid=103053193421862361057&rtpof=true&sd=true">resume</a>!
    </p>
</div>
{% endblock %}
