{% extends 'movies/base.html' %}
{% block content %}

<div class="wrapper style1">
    <div style = "text-align:center">
        <h2>Log In</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="normal">
            <label>Username</label>
            <input type="text" name="username" placeholder="Enter username" style = "width:40%">
        </div>
         <div class="normal">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password" style = "width:40%">
        </div>
         <div class="normal">
            <button type="submit">Log In</button>
         </div>
    </form>
    <p>Not a registered user?
        <br>
        <br>
        <a href = "{% url 'register_request' %}">Register!</a>
    </p>
</div>
<div class="clear"></div>

{% endblock %}
