{% extends 'movies/base.html' %}
{% block content %}
    <div class="wrapper style2">
        <article id="main" class="container special">
            <h2>Watchlist</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Year</th>
      <th scope="col">IMDB Rating</th>
      <th scope="col">Metacritic Score</th>
      <th scope="col">Streaming Platforms (Sub/Free)</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
        <tr>
            <td><a href="{% url 'detail' item.id %}" >{{item.title}}</a></td>
            <td>{{item.year}}</td>
            <td>{{item.imdb_rating}}</td>
            <td>{{item.metacritic_score}}%</td>
            <td>{% for source in item.stream_sources %}
                    {% if source.type == 'sub' or source.type == 'free' %}
                        <a href = " {{source.web_url}} ">{{source.name}}</a><br>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>

    </article>
                    </div>
<div class="clear"></div>
{% endblock %}
