{% extends 'movies/base.html' %}
{% block content %}
    <div class="wrapper style2">
        <article id="main" class="container special">
            <h2 style = "color:white">Watchlist</h2>
            <hr>
                <table>
                    <tr>
                      <th>ID</th>
                      <th>TITLE</th>
                    </tr>
                    {% for item in data %}
                      <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                      </tr>
                    {% endfor %}
                  </table>

    </article>
                    </div>
<div class="clear"></div>
{% endblock %}
